.App {
  text-align: center;
}

body {
  background-color: #D6CF89;
}

.logo-text {
  color: #DA0DDD;
  font-family:'Courier New', Courier, monospace;
  font-weight: 600;
  font-size:xxx-large

}

.monster-text {
  font-size: 60px;
}

.main-container {
  margin-top: 10px;
}

.about-description {
  color:#251F27;
}

.color-green {
  color: #33562A;
}

.color-cyan {
  color: #75E3CF
}

/* #33562A
#8CBC96 */