.App {
    text-align: center;
  }
  
  body {
    background-color: #C4C9B2;
  }
  
  .logo-text {
    color: #DA0DDD;
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
    font-size:xx-large
  
  }
  
  .monster-text {
    font-size: 100px;
    margin-bottom:40px;
    position: relative;
    top: -23px;
  }
  
  .main-container {
    margin-top: 10px;
  }
  
  .about-description {
    color:#251F27;
  }
  
  .color-green {
    color: #33562A;
  }
  
  .color-yellow {
    color: #FAE28B;
  }
  hr{
    color: whitesmoke;
  }


  hr.landing {
    size: 10px;
    height: 10px;
    color: #75E3CF;
    margin-bottom: -10px;
    margin-top: 6px;
  
  }
  


  .about-description {
    color: #DA0DDD;
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
    font-size:x-large
  }
  
  p.landing-description-paragraph {
    margin-top: 90px;
    color: #33562A;
    font-family:'Courier New', Courier, monospace;
    font-size: 22px;
    text-align: left;
  }
  
  .loginbtn-col {
    margin-top: 30px;
  }
  
  button.btn-connect:hover {
    color: whitesmoke !important;
    background-color: #DA0DDD !important;
  }
  
  .functionality-list-itmes  {
    color: #33562A;
    font-size: larger;
    font-family:'Courier New', Courier, monospace;
  
  
  }
  
  .functionality-list-title {
    color: #33562A;
    font-family:'Courier New', Courier, monospace;
    margin-top: 30px;
  }
  
  @counter-style repeating-emoji {
    system: cyclic;
    symbols: "\1F47e";
    suffix: " ";
  }
  
  /* li:marker {
    list-style-image: url("https://emojipedia-us.s3.amazonaws.com/source/microsoft-teams/337/alien-monster_1f47e.png")
  } */
  
  ul li::marker {
    content: "-👾-";
  }
  
  ul li.alien {
    text-align: left !important;
  }
  
  span.current-address {
    color: #33562A;
    font-family:'Courier New', Courier, monospace;
  }
  
  span.monster-address{
    color: #DA0DDD;
    font-family:'Courier New', Courier, monospace;
  }
  
  .btn-disconnect {
    display: block;
    margin: 0 auto !important;
    width: 100% !important;
    font-size: medium;
    border-radius: 2px;
    border-width: 2px;
    padding: 4px;
  }
  button.btn-disconnect:hover {
    color: whitesmoke !important;
    background-color: #DA0DDD !important;
  }
  
  .title2 {
    font-weight: 800;
  }
  .title2.monster {
    font-weight: 800;
    text-align: right !important;
  }
  
  hr.landing-2 {
    size: 10px;
    height: 10px;
    color: slategray;
    margin-bottom: -10px;
    margin-top: 6px;
  }
  
  span.dot0dot {
    font-weight: 1000;
    display: inline;
    font-size: large;
  }
  
  .age-title {
    font-family:cursive;
    font-size: 120%;
    text-align: left;
    right: -50px !important;
  }
  
.lifetime-text {
  color: whitesmoke
}

.card-lifetime {
  background-color:#DA0DDD;
  border-radius: 0px;
  border: 1px #251F27 solid !important;

}

.black1 {
  border-width: 1px;
  border-color: #251F27;
}

.record-pills {
  align-items: flex-start;
}
 
.pill-soul {
    
}

.badge-soul {
    background-color: #C4C9B2 !important;
    border-radius: 2px !important;
    color: #DA0DDD
}
 
.badge {
  text-decoration:  none;
  margin: 2px;
  font-size:medium;
}

.badge-light {
  background-color: whitesmoke;
  color: #DA0DDD
}

.badge-success {
  background-color: #33562A;
}

.badge-danger {
  background-color: red;
}

.badge-secondary {
  background-color: grey;
}
.soul {
  text-decoration: none;
  color:whitesmoke;
}

.collapse.show {
  background-color: #E4536A;
}

[aria-expanded] {
  background-color:whitesmoke;
  color:#E4536A !important;
  font-weight: 700;
}

.collapsing {
  background-color: #E4536A !important;
}

button.accordion-button.collapsed {
  background-color: #DA0DDD;
  color: whitesmoke !important;
  font-weight: 900;
}

.accordion-button {
  border: 1px #251F27 solid !important;
}
.accordion-body{
  color: whitesmoke;
}

hr {
  color: #86b7fe;
}
.accordion-item {
  margin-bottom: 1px !important;
}

.btn-exec:hover {
  color: whitesmoke !important;
}

.space{
  height: 80px;
}

.patable {
  table-layout: fixed;
  word-wrap: break-word;
}

.funcName {
  font-weight: bold;
}

.texe {
  table-layout: fixed;
}


td.funcArgs {
 display: table-cell;
 overflow: auto;
}

.footer {
  background-color: #C4C9B2;
}

a.liable-id {
  text-decoration: none;
  color:#251F27
}

a.liable-id:hover {
  color: whitesmoke;
}



.btn-burn:hover {
  color: whitesmoke;
  border-radius: 0px;
}

.ca-btn {
  margin-top: 5px;
}

/* 33562A
E4536A
FAE28B
C4C9B2
DA0DDD */

  /* #33562A
  #8CBC96 */